
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Restaurant Admin</span>

    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about-us">Empresa</a>
      <a mat-button routerLink="/prices">Negocios</a>
      <a mat-button routerLink="/start-page">Empleados</a>
      <a mat-button routerLink="/offer">Mesas</a>
      <a mat-button routerLink="/offer">Pedidos</a>
      <a mat-button routerLink="/offer">Cajas</a>
      <a mat-button routerLink="/offer">Proveedores</a>
      <a mat-button routerLink="/offer">Inventarios</a>
      <a mat-button routerLink="/contact">Contacto</a>
      <button mat-button [matMenuTriggerFor]="testMenu">
        Click Me!
      </button>
      <mat-menu #testMenu="matMenu" xPosition="before">
        <button mat-menu-item>Menu Item 1</button>
        <button mat-menu-item>Menu Item 2</button>
        <button mat-menu-item>Menu Item 3</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

