<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">

                    <div class="col-md-6">
                        <div class="product p-4">

                            <div class="mt-4 mb-3">
                                <h5 class="text-uppercase">Nombre del negocio</h5>

                            </div>

                            <p class="card-text"><b>Direccion:</b></p>
                            <p class="card-text"><b>Telefono:</b></p>
                            <p class="card-text"><b>Encargado:</b></p>

                            <div class="cart mt-4 align-items-center">
                                <button><mat-icon routerLink="/negocios">keyboard_return</mat-icon></button>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>